@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates');

* {
    font-family: 'Montserrat Alternates', sans-serif;
}

html {
  background: #51A36B;
}

.header {
  background-color:rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 15px 15px;
  height: 50px;
  width: 72vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 40px;
}

.nickname {
    font-weight: 600;
    font-size: 16px;
    color: #B5E67B;
    text-decoration: none;
}

.a_header {
    display: flex;
    gap: 15px;
    font-weight: 500;
}

.settings {
    color: #B5E67B;
    background: none;
    border: none;
    font-size: 14px;
}

.logout {
    color: #FF978C;
    background: none;
    border: none;
    font-size: 14px;
}

.add_workspace {
    background-color:rgba(255, 255, 255, 0.25);
    height: 148px;
    border-radius: 15px;
    border: none;
    color: #B5E67B;
    font-weight: 500;
    font-size: 24px;
}

.main_content {
    width: 72vw;
}

.workspaces {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    flex-wrap: wrap;
}

h1 {
    font-weight: 600;
    font-size: 48px;
    color: #B5E67B;
    width: 72vw;
}

button {
    cursor: pointer;
}

.workspace_card_main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.workspace_card {
    height: 148px;
    border-radius: 15px;
    background-color: #B5E67B;
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: space-between;
}

.workspace_tasks {
    border-radius: 15px;
    background-color:rgba(255, 255, 255, 0.10);
    padding: 15px;
	opacity:0; 
	transition: 1s;
    position: absolute;
    display: flex;
    gap: 15px;
    align-items: center;
}

.workspace_card:hover+ .workspace_tasks{
	opacity:1;
	transition: 1s;
    position: relative;
}


.card_btns {
    display: flex;
    justify-content: space-between;
}

.btn_users, .btn_delete_card {
    background: none;
    border: none;
    font-weight: 500;
    font-size: 14px;
}

.btn_users {
    color: #51A36B;
}

.btn_delete_card {
    color: #FF978C;
}

.card_name {
    font-weight: 600;
    font-size: 24px;
    color: #51A36B;
}

.circle {
    border-radius: 50%;
    background-color: #FF7979;
    width: 10px;
    height: 10px;
}

.card_task {
    font-weight: 500;
    font-size: 15px;
    color: #B5E67B;
}

.modal {
  position: relative;
  background-color: rgba(255, 255, 255, 0.10);
  width: fit-content;
  height: fit-content;
  border-radius: 15px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-wrapper {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  z-index: 9;
  width: 100%;
  min-height: 100vh;
}

.modal .body {
  padding: 15px;
  background-color: #B5E67B;
  display: flex;
  gap: 15px;
  border-radius: 15px;
}

.change {
    padding: 15px;
    background-color: #B5E67B;
    display: flex;
    gap: 10px;
    border-radius: 15px;
    flex-direction: column;
}

.change_settings input {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
    width: 541px;
    height: 40px;
    padding-left: 15px;
}
.change_settings {
    display: flex;
    gap: 15px;
}

.modal .body input {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
    width: 541px;
    height: 40px;
    padding-left: 15px;
}

input {
    outline: none;
}

.modal_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p_modal_head {
    font-weight: 600;
    font-size: 16px;
    color: #B5E67B;
}

.btn_add_card {
    font-weight: 600;
    font-size: 10px;
    color: #B5E67B;
    background-color: #51A36B;
    border-radius: 15px;
    border: none;
    padding: 15px;
}

.close_card {
  border-radius: 50%;
  border-style: none;
  background: #FF978C;
  width: 25px;
  height: 25px;
  color: #fff;
}

.close_card_2 {
    border-radius: 50%;
    border-style: none;
    background: #FF978C;
    width: 25px;
    height: 25px;
    color: #fff;
  }

.users_added {
  padding: 15px;
  background-color: #51A36B;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 15px;
  text-align: center;
}

.p_users_added {
    font-weight: 600;
    font-size: 14px;
    color: #B5E67B;
}

.added_member {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}

.p_added_member {
    font-weight: 500;
    font-size: 14px;
    color: #B5E67B;
}

.btn_delete_member {
    background: none;
    border: none;
    font-weight: 500;
    font-size: 12px;
    color: #FF7979;
}

.p_name {
    font-weight: 600;
    font-size: 16px;
    color: #51A36B;
}

.p_username {
    font-weight: 500;
    font-size: 20px;
    color: #51A36B;
}

.workspace_main {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    width: 72vw;
    justify-content: flex-start;
}

.tasks_group {
    display: flex;
    flex-direction: column;
    width: 23vw;
    gap: 10px;
    max-width: 442px;
}

.main_tasks_group {
    display: flex;
    justify-content: space-between;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add_tasks_group {
    width: 23vw;
    max-width: 442px;
    height: 54px;
    display:flex;
    flex-direction:row;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
}

.input_add_group {
    background-color: transparent;
    flex-grow:2;
    border: none;
}

.input_add_group:focus {
    outline: none;
}

.add_group_btn {
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: #B5E67B;
}
